fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
python-jose[cryptography]
cors
moviepy
faster-whisper
ctranslate2
torch
ffmpeg-python
google-generativeai
groq
